.container{
  text-align: center;

}

.header{
  background-image: url(../images/h_img.jpg);
  background-size: cover;
  color: aliceblue;
}

.service{
  background-image: url(../images/s_image.jpg);
  color: aliceblue;
}

.box{
  width: 1240px;
  height: 500px;
  padding: 100px;
}

.box2{
  width: 1240px;
  height: 400px;
  padding: 100px;
}

.contact{
  background-image: url(../images/c_image.jpg);
  
  background-color: transparent;
  
}

.work{
  size: inherit;
  padding: 10px;
  
}

body{
 margin: 0px;
 padding: 0px;
}

#h2we-do{
  height: 100px;
}

#myTextarea{
  background-color: transparent;
  color: aliceblue;
  border: 1px aliceblue solid;

}

.input{
  background-color: transparent;
  color: aliceblue;
  border: 1px aliceblue solid;
}

.des_p{
  display: none;
}

.dev_p{
  display: none;
}

.prod_p{
  display: none;
}